
/* Style sheet
   color picker www.w3schools.com/colors/colors_picker.asp
*/

/* Bootstrap default font-family is Helvetica Neue */

body  {
  background-image: "images/LogoRectangle.png";
  background-color: #d1d1d1;
}

h1 {
  text-shadow: 3px 3px 1px black;
  
}

.container-fluid {
  background: #740302;
  display: flex;
  align-items: center;
  justify-content: center
}

.container-xl {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 15px;
}

.img {
  margin-left: 15rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(233, 153, 153)!important;
  border-color: rgb(119, 8, 8);
}

.form{
  background-color: #b85654;
}

.rounded {
  border-radius:0.75rem!important
}

.about-us{
  width: 100%;
  height: 40rem;
}

.home_text{
  color: rgb(83, 0, 0)
}

.title {
  margin-right: 15rem;
}

.alert-danger {
  width: 100%;
}

.subtitle {
  background: #750604;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
}

.card-holder{
  align-items:center;
}

.stylists{
  margin: auto;
  padding: 0;
}

.card-link{
  color:#740302;
}

.card-style {
  background-color: #b85654;
}

.btn-style {
  background-color: #740302;
  color: #d1d1d1;
}