table {
    width: 75% !important;
    border-collapse: separate;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    border-spacing: 15px 20px !important;
  }

td{
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
  }

th{
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
  }

.center-courses {
    width: 95%;
    margin: auto !important;
    border: 30px solid black !important;
}

.logo-courses {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 2%;
  }

.head-courses{
    width: fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
    color: white;
    font-weight: bold;
}

.title-courses{
    width: fit-content;
    text-align: center;
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 0%;
    color: white;
    font-weight: bold;
}

.event-courses{
    width: 500px !important;
    height: 500px !important;
}

.course-1{
  display: table-cell;
  background-color: rgb(39, 170, 126);
  color: white;
  align-items: center;
  vertical-align: middle;
  border-radius: 30px;
  height: 350px;
  width: 500px;
  white-space: pre-wrap;
}

.course-2{
  display: table-cell;
  background-color: rgb(148, 102, 167);
  color: white;
  align-items: center;
  vertical-align: middle;
  border-radius: 30px;
  height: 350px;
  width: 500px;
  white-space: pre-wrap;
}

.course-3{
  display: table-cell;
  background-color: rgb(28, 162, 214);
  color: white;
  align-items: center;
  vertical-align: middle;
  border-radius: 30px;
  height: 350px;
  width: 500px;
  white-space: pre-wrap;
}