table {
    width: 75% !important;
    border-collapse: separate;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    border-spacing: 15px 20px !important;
  }

td{
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
  }

th{
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    margin-left: 0 !important;
    width: fit-content !important;
    height: fit-content !important;
  }

.center-events {
    width: 95%;
    margin: auto !important;
}

.logo-events {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 2%;
  }

.head-events{
    width: fit-content;
    text-align: center;
    margin: auto;
    color: white;
    font-weight: bold;
}

.title-events{
    width: fit-content;
    text-align: center;
    margin-top: 2%;
    margin-left: 14%;
    margin-bottom: 0%;
    color: white;
    font-weight: bold;
}

.event{
    width: 500px !important;
    height: 500px !important;
}

.eventblur{
    height:auto!important;
    display:inline-block!important;
    position:relative!important;
    transition:.3s!important;
    margin:4px!important;
  }
  
  .eventblur img{
    width:100%!important;
    height:100%!important;
    transition:.3s!important;
    border-radius:4px!important;
  }
  
  .eventblur:hover img{
    filter:blur(2px) brightness(60%)!important;
  }
   
  .eventblur :not(img){
    position:absolute!important;
    z-index:1!important;
    top:30%;
    width:100%!important;
    text-align:center;
    color:#fff!important;
    opacity:0!important;
    transition:.3s!important;
  }
  
  .eventblur h3{
    top:15%;
    font-weight: 300px;
  }

  .eventblur h2{
    top: 5% !important;
    font-weight: 300px;
  }

  .eventblur p{
    top: 40% !important;
    font-weight: 300;
  }
  
  .eventblur:hover :not(img){
    opacity:1 !important;
  }