.box {
    border: 10px solid white;
    font-family: "Roboto", sans-serif;
    font-size: 26px;
    font-weight: bold;
    background: white;
    width: 700px;
    height: 350px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #3B4779;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;

  }

.head {
  text-align: left;
  margin-left: 32px;
  font-size: 24px;
}

.arrow {

  width: 13%;
  margin-top: 2%;
  margin-left: 515px;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;

}

.arrow:hover, .arrow:focus, .arrow:active{

  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


.input input {
    width: 90%;
    height: 70px;
    background: #D9D9D9;
    border: #D9D9D9;

}